body {
    margin: 0;
}

nav{
    margin-bottom: 20px;
}
.menu{
    
    margin: 0;
    background: white;
    width: 65%;
    padding: -1px;
    display: inline-block;
    overflow: hidden;
}

.menu-types{
    margin: 0;
    width: 25%;
    display: inline-block;
    
    vertical-align: top;
}

.menu-items{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 73%;
    padding-left: 5px;
}
.menu-items > h3 {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
}
.cart{
    
    margin: 0;
    background: white;
    width: 34%;
    float: right;
    display: inline-block;
    
    vertical-align: top;
}
#input_container { 
    float: right;
    position:relative;
    padding:0;
    width: 100%;
    margin: 10px 0;
}
#input { 
    height:20px;
    width: 100%;
    margin:0;
    padding-left:25px;
}
#input_img {
    position:absolute;
    bottom:-2px;
    left:0px;
    width:25px;
    height:25px;
}
#menu-categories{
    margin-top: 50px;
    list-style-type: none;
}
#menu-categories > li {
    font-size: 20px;
    margin-bottom: 15px;
    border-left: 1px solid #E91431;
    padding-left: 10px
}

.menu-item {
    width: 100%;
    padding: 20px 5px;
    background-color: white;
    border-bottom: 1px solid #F2F4F5;    
}
.menu-item:hover{
    background-color: #F2F4F5;
}
.meal {
    display: inline-block;
}

.price {
    display: inline-block;
    float: right
}

.cart > h3 {
    padding: 20px 0;
    text-align: center;
}
.cart-item{
    width: 100%;
    padding: 10px 20px;
}

.checkout{
    width: 100%;
    padding: 20px;
    background: #E91431;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.cart-icon{
    text-align: end;
    padding-right: 0;
    margin-right: 0;
}
